.orders-wrapper {
  border: solid black;
  margin: 150px auto 0 auto;
  width: 60%;
}

.order-card {
  border: solid pink;
  font-size: 2.2rem;
  display: flex;
  justify-content: space-around;
}

.order-date-wrapper {
  width: 50%;
}

.order-card button {
  font-size: 1rem;
}
