.orders-wrapper {
  border: solid black;
  margin: 150px auto 0 auto;
  width: 60%;
}

.order-card {
  border: solid pink;
  font-size: 2.2rem;
}

.order-date-wrapper {
  width: 35%;
  /* border: solid black; */
}

.order-total-wrapper {
  width: 15%;
}

.order-date-wrapper,
.order-total-wrapper {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-date-text-wrapper {
  /* border: solid black; */
}

.order-buttons-wrapper {
  /* border: solid black; */
  /* display: flex;
  justify-content: center; */
  margin-left: 15px;
}

.order-card button {
  font-size: 1rem;
  margin-right: 20px;
}

.order-details {
  border-top: solid black;
}

.order-details-product-list {
  /* border: solid black; */
  list-style: none;
  font-size: 1.3rem;
}

/* MEDIA QUERIES */
/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  .orders-wrapper {
    /* border: solid yellow; */
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .order-card {
    font-size: 1rem;
  }

  .order-date-wrapper {
    width: 100%;
    font-size: 1.2rem;
    /* border: solid black; */
  }

  .order-total-wrapper {
    /* border: solid black; */
    width: 100%;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .orders-wrapper {
    /* border: solid yellow; */
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .order-card {
    font-size: 1rem;
  }

  .order-date-wrapper {
    width: 100%;
    font-size: 1.2rem;
    /* border: solid black; */
  }

  .order-total-wrapper {
    /* border: solid black; */
    width: 100%;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .orders-wrapper {
    /* border: solid yellow; */
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .order-card {
    font-size: 1rem;
  }

  .order-date-wrapper {
    width: 100%;
    /* border: solid black; */
  }

  .order-total-wrapper {
    /* border: solid black; */
    width: 100%;
  }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .orders-wrapper {
    /* border: solid yellow; */
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .order-card {
    font-size: 1rem;
  }

  .order-date-wrapper {
    width: 100%;
    /* border: solid black; */
  }

  .order-total-wrapper {
    /* border: solid black; */
    width: 100%;
  }
}

/* Laptops (1025px - 1366px) */
@media (min-width: 1025px) and (max-width: 1366px) {
  .orders-wrapper {
    /* border: solid yellow; */
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .order-card {
    font-size: 1rem;
  }

  .order-date-wrapper {
    width: 100%;
    /* border: solid black; */
  }

  .order-total-wrapper {
    /* border: solid black; */
    width: 100%;
  }
}
