html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%; /* Relative sizing for scaling */
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent unwanted horizontal scrolling */
  font-family: 'Roboto', sans-serif;
}
