.category-list-wrapper {
  box-shadow: rgba(46, 44, 44, 0.418) 0px 5px 15px;
  width: 30%;
  margin: 80px auto 0 auto;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
}

.category-list-card {
  border-bottom: 1px solid black;
  display: flex;
  gap: 15px;
}

.add-new-category-btn,
.edit-category-btn,
.delete-category-btn {
  background: none;
  border: none;
  transition: transform 0.3s ease-in;
  margin-bottom: 15px;
}

.add-new-category-icon {
  width: 40px;
  height: 40px;
}

.add-new-category-btn:hover,
.edit-category-btn:hover,
.delete-category-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.edit-category-icon,
.delete-category-icon {
  width: 25px;
  height: 25px;
}

/* MEDIA QUERIES */
/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  .category-list-wrapper {
    border: solid rgb(238, 10, 10);
    margin-top: 0;
    width: 100%;
  }

  .category-list-wrapper h2 {
    margin-bottom: 25px;
  }

  .category-list-card {
    /* border: solid blue; */
    gap: 20px;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .category-list-wrapper {
    border: solid rgb(238, 10, 10);
    margin-top: 0;
    width: 100%;
  }

  .category-list-wrapper h2 {
    margin-bottom: 25px;
  }

  .category-list-card {
    /* border: solid blue; */
    gap: 25px;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .category-list-wrapper {
    border: solid rgb(238, 10, 10);
    margin-top: 0;
    width: 100%;
  }

  .category-list-wrapper h2 {
    margin-bottom: 35px;
  }

  .category-list-card {
    /* border: solid blue; */
    gap: 25px;
  }

  .category-list-card {
    margin-left: 5px;
  }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .category-list-wrapper {
    border: solid rgb(238, 10, 10);
    margin-top: 0;
    width: 100%;
  }

  .category-list-wrapper h2 {
    margin-bottom: 35px;
  }

  .category-list-card {
    /* border: solid blue; */
    gap: 25px;
  }

  .category-list-card {
    margin-left: 15px;
  }
}
