.category-wrapper {
  border: solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.category-dropdown {
  margin-top: 5px;
  cursor: pointer;
}

.category-dropdown-menu {
  display: block; /* Shown when isDropdownOpen is true */
  position: absolute;
  top: 100%;
  left: 15px;
  background-color: white;
  border: solid black;
  z-index: 10;
  padding: 10px;
}

.category-dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-dropdown-menu li {
  padding: 5px 10px;
  cursor: pointer;
}

.category-dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.display-categories-wrapper ul {
  /* border: solid black; */
  display: flex;
  width: 100%;
  list-style: none;
  gap: 205px;
  margin-top: 5px;
}

.display-categories-wrapper li {
  cursor: pointer;
}

/* MEDIA QUERIES */
/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  .category-wrapper {
    border: solid yellow;
    flex-direction: column;
  }

  .display-categories-wrapper {
    display: none;
  }

  .category-dropdown-menu {
    left: 55px;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .category-wrapper {
    /* border: solid yellow; */
    flex-direction: column;
  }

  .display-categories-wrapper {
    display: none;
  }

  .category-dropdown-menu {
    left: 100px;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .category-wrapper {
    /* border: solid yellow; */
    flex-direction: column;
  }

  .display-categories-wrapper {
    display: none;
  }

  .category-dropdown-menu {
    left: 200px;
  }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .category-wrapper {
    /* border: solid yellow; */
    flex-direction: column;
  }

  .display-categories-wrapper {
    display: none;
  }

  .category-dropdown-menu {
    left: 300px;
  }
}

/* Laptops (1025px - 1366px) */
@media (min-width: 1025px) and (max-width: 1366px) {
  .category-wrapper {
    /* border: solid yellow; */
  }

  .display-categories-wrapper ul {
    /* border: solid yellow; */
    gap: 80px;
    font-size: .9rem;
  }

  .category-dropdown-menu {
    left: 0px;
  }
}
