.category-list-wrapper {
  border: solid black;
  width: 40%;
  margin: 150px auto 0 auto;
  text-align: center;
}

.category-list-card {
  border-bottom: 1px solid black;
  display: flex;
  gap: 15px;
}

/* MEDIA QUERIES */
/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  .category-list-wrapper {
    border: solid rgb(238, 10, 10);
    margin-top: 0;
    width: 100%;
  }

  .category-list-wrapper h2 {
    margin-bottom: 25px;
  }

  .category-list-card {
    /* border: solid blue; */
    gap: 20px;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .category-list-wrapper {
    border: solid rgb(238, 10, 10);
    margin-top: 0;
    width: 100%;
  }

  .category-list-wrapper h2 {
    margin-bottom: 25px;
  }

  .category-list-card {
    /* border: solid blue; */
    gap: 25px;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .category-list-wrapper {
    border: solid rgb(238, 10, 10);
    margin-top: 0;
    width: 100%;
  }

  .category-list-wrapper h2 {
    margin-bottom: 35px;
  }

  .category-list-card {
    /* border: solid blue; */
    gap: 25px;
  }

  .category-list-card {
    margin-left: 5px;
  }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .category-list-wrapper {
    border: solid rgb(238, 10, 10);
    margin-top: 0;
    width: 100%;
  }

  .category-list-wrapper h2 {
    margin-bottom: 35px;
  }

  .category-list-card {
    /* border: solid blue; */
    gap: 25px;
  }

  .category-list-card {
    margin-left: 15px;
  }
}
