/* Modal container */
.category-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.category-modal.open {
  display: flex;
}

/* Modal content box */
.category-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.category-modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.close-category-modal-wrapper {
  display: flex;
  justify-content: flex-end;
}

.close-add-new-category-btn {
  background: none;
  border: none;
}

.close-category-modal-icon {
  width: 25px;
  height: 25px;
}

.submit-new-category-btn {
  background-color: rgb(34, 218, 34);
  color: white;
  border: solid white;
  padding: 5px 10px 5px 10px;
}
