.cart-wrapper {
  box-shadow: rgba(46, 44, 44, 0.418) 0px 5px 15px;
  margin: 80px auto 0 auto;
  width: 40%;
  border-radius: 15px;
  padding: 15px;
}

.cart-wrapper h1 {
  text-align: center;
}

.order-product {
  border-bottom: solid 1px black;
}

.order-total-text span {
  font-weight: normal;
}

.my-cart-product-img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.remove-product-cart-btn {
  border: none;
  background: none;
  width: 30%;
  transition: transform 0.3s ease-in;
  margin-bottom: 12px;
}

.remove-product-cart-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.remove-product-cart-icon {
  width: 35px;
  height: 35px;
}

.place-order-btn {
  background-color: rgb(66, 218, 66);
  color: white;
  border: solid white;
  padding: 5px 12px 5px 12px;
  transition: transform 0.3s ease-in;
}

.place-order-btn:hover {
  transform: scale(1.1);
}

/* MEDIA QUERIES */
/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  .cart-wrapper {
    /* border: solid yellow; */
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .cart-wrapper {
    /* border: solid yellow; */
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .cart-wrapper {
    /* border: solid yellow; */
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .cart-wrapper {
    /* border: solid yellow; */
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}
