.card-element-container {
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.card-element-container button {
  margin-top: 5px;
}

.StripeElement {
  font-size: 18px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.error-message {
  color: red;
  font-size: 14px;
}
