.main-navbar-wrapper {
  padding: 8px;
}

.mr-auto,
.orders-link,
.products-link,
.my-orders-link,
.cart-link,
.categories-link {
  color: whitesmoke;
}

.mr-auto:hover,
.orders-link:hover,
.products-link:hover,
.my-orders-link:hover,
.cart-link:hover,
.categories-link:hover {
  color: rgb(255, 255, 3);
}

.nexMart-logo {
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.left-side-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  width: 70%; /* Adjust width as needed */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 3px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar-wrapper input {
  flex: 1; /* Input takes up remaining space */
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  background-color: transparent; /* Matches the background */
}

.search-bar-wrapper .search-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-wrapper .search-button:hover img {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.search-bar-wrapper .search-button img {
  width: 35px; /* Adjust size as needed */
  height: 35px;
  transition: transform 0.2s ease-in-out;
}

.right-side-wrapper {
  width: 20%;
}

.cart-link-wrapper {
  list-style: none;
  display: flex;
  align-items: center;
}

.cart-link {
  display: flex;
  align-items: center; /* Ensures icon and text are aligned */
  transition: transform 0.3s ease-in-out;
}
.cart-link:hover {
  transform: scale(1.2);
}
.cart-link img {
  width: 30px;
  height: 30px;
}

/* MEDIA QUERIES */
/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  .left-side-wrapper {
    flex-direction: column;
  }
  .search-bar-wrapper {
    width: 100%;

    display: flex;
  }

  .search-bar-wrapper input {
    width: 100%;
    margin: 0;
    font-size: 0.7rem;
  }

  .right-side-wrapper {
    width: 100%;
    font-size: 0.9rem;
  }
  .search-button img {
    width: 20px !important;
    height: 20px !important;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .left-side-wrapper {
    flex-direction: column;
  }
  .search-bar-wrapper {
    width: 100%;
    display: flex;
  }

  .search-bar-wrapper input {
    width: 100%;
    margin: 0;
  }

  .right-side-wrapper {
    width: 100%;
    font-size: 0.9rem;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .left-side-wrapper {
    flex-direction: column;
  }
  .search-bar-wrapper {
    width: 100%;

    display: flex;
  }

  .search-bar-wrapper input {
    width: 80%;
    margin: 0;
  }

  .right-side-wrapper {
    width: 100%;
    font-size: 0.9rem;
  }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .left-side-wrapper {
    flex-direction: column;
    width: 50%;
  }
  .search-bar-wrapper {
    width: 100%;

    display: flex;
    justify-content: flex-end;
  }

  .search-bar-wrapper input {
    width: 50%;
    margin: 0;
  }

  .right-side-wrapper {
    width: 45%;
    font-size: 0.9rem;
  }
}

/* Laptops (1025px - 1366px) */
@media (min-width: 1025px) and (max-width: 1366px) {
  .left-side-wrapper {
    flex-direction: column;
    width: 80%;
  }
  .search-bar-wrapper {
    width: 100%;

    display: flex;
    justify-content: flex-end;
  }

  .search-bar-wrapper input {
    width: 50%;
    margin: 0;
  }

  .right-side-wrapper {
    width: 25%;
    font-size: 0.9rem;
  }
}
