.featured-products {
  /* border: solid black; */
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}

.product-card {
  /* border: solid 1px rgb(177, 174, 174); */
  width: 25%;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(87, 79, 79, 0.877) 0 0px 0.9px 0;
}

.product-card img {
  width: 50%;
}

/* MEDIA QUERIES */
/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  .products-wrapper {
    text-align: center;
  }
  .featured-products {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .products-wrapper {
    text-align: center;
  }
  .featured-products {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
  }

  .product-card img {
    width: 40%;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .products-wrapper {
    text-align: center;
  }
  .featured-products {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
  }
  .product-card img {
    width: 30%;
  }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .products-wrapper {
    text-align: center;
  }
  .featured-products {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
  }

  .product-card img {
    width: 30%;
  }
}
