.featured-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}

.products-wrapper h2 {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 25px;
}

.product-card {
  width: 20%;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(87, 79, 79, 0.877) 0 0px 0.9px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.product-card img {
  width: 45%;
}
.feature-product-button-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.view-btn,
.add-to-cart-btn {
  cursor: pointer;
  background: none;
  border: none;
}

.view-item-icon,
.add-item-icon {
  width: 25px !important;
  height: 25px;
  transition: transform 0.2s ease-in-out;
}

.view-item-icon:hover,
.add-item-icon:hover {
  transform: scale(1.2);
}

/* MEDIA QUERIES */
/* Small Mobile (Up to 320px) */
@media (max-width: 320px) {
  .products-wrapper {
    text-align: center;
  }
  .featured-products {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .products-wrapper {
    text-align: center;
  }
  .featured-products {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
  }

  .product-card img {
    width: 40%;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .products-wrapper {
    text-align: center;
  }
  .featured-products {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
  }
  .product-card img {
    width: 30%;
  }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .products-wrapper {
    text-align: center;
  }
  .featured-products {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
  }

  .product-card img {
    width: 30%;
  }
}
